.status-media {
  border: 1px solid #e3e3e3;
  border-bottom: none;
  background: white;
  padding: 1em; }

.status-post {
  border: 1px solid #e3e3e3;
  background: white;
  margin-bottom: 3m;
  padding: 0; }

textarea {
  border: none; }
  textarea:focus {
    box-shadow: none; }

.status-post-submit {
  border-top: 1px solid #e9e9e9;
  padding: .5em 1em;
  margin-bottom: 0; }
  .status-post-submit .btn {
    float: right; }

.comments__create-form textarea {
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0; }

.comments {
  margin-bottom: 5em; }

.comments__comment {
  background: #e6e6e6;
  margin-top: 0;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #e3e3e3; }

.nav-gravatar {
  float: left;
  position: relative;
  top: -6px;
  left: -8px;
  border: 1px solid #555; }

.nav-profile {
  float: right; }

user-block {
  text-align: center; }
  user-block .avatar {
    margin: auto; }

users {
  margin-bottom: 3em; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.modal-header h3 {
  margin-top: 0;
  color: #42b983; }

.modal-body {
  margin: 20px 0; }

.modal-default-button {
  float: right; }

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter, .modal-leave {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*# sourceMappingURL=app.css.map */
